//Main Colors
@yellow: #F8DF1F;
@lightwhite: #F3F3F3;
@boborange: #EE252F;
@sortofblack: #080801;
@fontgrey: #050500;

//Other Colors
@imageoverlay: #3B383833;

//Font Size
@size-30: 30px;
@size-18: 18px;
@size-16: 16px;

//background image
@images: "../img";

//radiuses
@radius-8: 8px;


//font weights
@thicktext: 500;
@normaltext: 400;
